// BREAKPOINT NOTES
// If on large text in browser, at 100%,
// 950px wide is a good tablet breakpoint.

// FUNCTIONS

@use 'sass:math';
@function rem($pixels) {
  @return math.div($pixels, 16) + rem;
}

// VARIABLES

$font-family: Nunito, sans-serif;
$size-navbar-title: rem(24); // h1
$size-section-heading: rem(32); // h2
$size-sub-heading: rem(20); // h3
$size-body-emphasize: rem(18); // p
$size-body-normal: rem(16); // p
$color-primary: #5d5d5d;
$color-secondary: white;
$padding-primary: 30px; // static
$padding-secondary: 15px; // static
$navbar-height: rem(60); // dynamic
$navbar-headbutt: 65; // compare to navbar-height above
$content-max-width: 800px;
$content-min-width: 320px;
$content-margins: 20px;
$link-padding-top-bottom: 0.25rem;
$link-padding-left-right: 0.4rem;

// NORMALIZE & RESET

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// STYLES

body {
  font-family: $font-family;
  font-size: $size-body-normal;
  display: grid;
  grid-template-columns:
    minmax($content-margins, 1fr) minmax($content-min-width, $content-max-width)
    minmax($content-margins, 1fr);
  grid-template-rows: $navbar-height auto;
}

h1 {
  font-size: $size-navbar-title;
  font-weight: bold;
}
h2 {
  font-size: $size-section-heading;
  font-weight: bold;
}
h3 {
  font-size: $size-body-emphasize;
  font-weight: bold;
}

.navbar {
  grid-area: 1 / 2 / 2 / 3;
  position: fixed;
  top: 0;
  color: $color-secondary;
  background-color: $color-primary;
  width: 100%;
  display: grid;
  grid-template-columns:
    minmax($content-margins, 1fr) minmax($content-min-width, $content-max-width)
    minmax($content-margins, 1fr);
  grid-template-rows: $navbar-height;
  align-items: center;
  &__content-container {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
  }
  &__logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &--subtitle {
      padding-left: 0.5rem;
      font-style: italic;
    }
  }
  &__links {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 15px;
    a {
      color: white;
      text-decoration: none;
    }
    a:hover,
    a:focus {
      //font-size: $size-sub-heading;
      text-decoration: underline;
      font-weight: 700;
      font-size: 1.1rem;
    }
    &--linkedin {
      border: 1px solid white;
      padding: 0.25rem;
      border-radius: 8px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    &--linkedin-text {
      padding-left: 0.5rem;
    }
    &--upwork {
      border: 1px solid white;
      padding: 0.25rem;
      border-radius: 8px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    &--upwork-text {
      padding-left: 0.5rem;
    }
  }
}

#about-me-link,
#portfolio-link,
#cv-link {
  margin-top: rem(-1 * ($navbar-headbutt));
  padding-bottom: rem($navbar-headbutt);
  display: block;
}

.content {
  grid-area: 2 / 2 / 3 / 3;
}

.about {
  margin-bottom: $padding-primary;
  &__title {
    margin-bottom: $padding-secondary;
  }
  &__body:last-of-type {
    margin-top: $padding-secondary;
  }
}

.photo {
  float: right;
  border-radius: 50%;
  width: rem(280);
  margin: $padding-primary;
  margin-right: 0;
}

.portfolio {
  grid-area: 3 / 2 / 4 / 5;
  margin-bottom: $padding-primary;
  &__title {
    margin-bottom: $padding-secondary;
  }
  &__body {
    display: grid;
    grid-template-columns: max-content max-content 1fr;
    grid-template-rows: max-content max-content max-content;
    align-items: start;
    justify-content: center;
    gap: $padding-primary;
    width: 100%;
  }
  &__link {
    padding-top: $link-padding-top-bottom;
    padding-bottom: $link-padding-top-bottom;
    padding-right: $link-padding-left-right;
    padding-left: $link-padding-left-right;
    width: fit-content;
    height: auto;
    border-radius: 8px;
    color: $color-secondary;
    background-color: $color-primary;
  }
  &__subtitle {
    text-align: center;
  }
}

.cv {
  grid-area: 4 / 2 / 5 / 5;
  margin-bottom: 800px;
  &__title {
    margin-bottom: $padding-secondary;
  }
  &__body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: max-content max-content max-content;
    align-items: start;
    justify-content: center;
    gap: $padding-primary;
    width: 100%;
  }
}

// MEDIA QUERIES

// show hamburger button

// make navbar links vertical

// show navbar close button
// for tablet and smaller
@media (max-width: ($content-max-width + ($content-margins * 2))) {
  .navbar__links {
    flex-direction: column;
    position: fixed;
    width: 150px;
    height: 200px;
    z-index: 1;
    top: -5px;
    right: 0;
    border: 1.5px solid black;
    border-radius: 5px;
    background-color: $color-primary;
    overflow-x: hidden;
    // transition: 0.5s;
    padding-top: $padding-secondary;
    padding-bottom: $padding-secondary;
  }
}

// move photo to navbar

// hide "Web Developer" in navbar
